#footer {
  margin-top: auto;
}
#footer .sectionfooter {
  position: relative;
  height: 110px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
#footer .sectionfooter .SECCIONICONOSINICIO {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 1400px;
  justify-content: space-between;
}
#footer .sectionfooter .SECCIONICONOSINICIO .faceicon img {
  height: 80px;
}
#footer .sectionfooter .SECCIONICONOSINICIO .instaicon img {
  height: 100px;
}
#footer .sectionfooter .SECCIONICONOSINICIO .whaicon img {
  height: 80px;
}
#footer .sectionfooter .SECCIONICONOSINICIO .xicon img {
  height: 100px;
}
#footer .sectionfooter .infoturismo .cordobaicon img {
  height: 100px;
}
#footer .sectionfooter .infoturismo ul {
  position: absolute;
  left: 76%;
  color: rgb(253, 253, 253);
  align-items: center;
  top: 10%;
}
@media (max-width: 1800px) {
  #footer .infoturismo {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  display: inline-block;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

/*NAV*/
.offcanvas-title {
  color: antiquewhite;
}
.dropdown-item {
  color: #e74606;
}
/*INICIO*/
/*PAGINA INICIO*/
/*ACA APLICO GRIDDDDD*/
#main {
  position: relative;
  width: 100%;
  height: 100%;
}
#main #GRIDIMG {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: ".gridIMG1 .gridIMG2" ".gridIMG3 .gridIMG4";
}
#main #GRIDIMG .gridIMG1,
#main #GRIDIMG .gridIMG2,
#main #GRIDIMG .gridIMG3,
#main #GRIDIMG .gridIMG4 {
  width: 100%;
  height: 100%;
}
#main #GRIDIMG .icoinlafabrica img {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 25%;
  right: 65%;
  transform: translate(-50%, -50%);
}
#main #GRIDIMG .icoinlaestacion img {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}
#main .icoinbnp img {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 12%;
  left: 23%;
  transform: translate(-50%, -50%);
}
#main .icoinotros img {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 12%;
  left: 75%;
  transform: translate(-50%, -50%);
}
#main .enteratein {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: fantasy;
  background-color: black;
  padding: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*MEDIA 1800PX PORQUE SE EMPIEZA A ROMPER YA A PARTIR DE ESTA MEDIDA*/
@media (max-width: 1800px) {
  .enteratein {
    display: none;
  }
}
/*MEDIA 1200PX */
@media (max-width: 1200px) {
  #main #GRIDIMG {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #main .icoinlafabrica {
    position: absolute;
    top: 38%;
    right: 32%;
    transform: translate(-50%, -50%);
  }
  #main .icoinlaestacion {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main .icoinbnp {
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main .icoinotros {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 850px) {
  #GRIDIMG .icoinlafabrica {
    position: absolute;
    top: 39%;
    right: 28%;
    transform: translate(-50%, -50%);
  }
  #GRIDIMG .icoinlaestacion {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #GRIDIMG .icoinbnp {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #GRIDIMG .icoinotros {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*BNP*/
/* BNP */
#MAINBNP #section1bnp {
  position: relative;
  width: 100%;
  height: 100%;
}
#MAINBNP #section1bnp .Palacioalsinagrande img {
  position: relative;
  width: 100%;
  height: 100%;
}
#MAINBNP #section1bnp .icobnp img {
  position: absolute;
  top: 400px;
  left: 200px;
}
#MAINBNP #section1bnp .h2bnp h2 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: fantasy;
  background-color: black;
  padding: 10px;
  top: 480px;
  left: 1020px;
  transform: translate(-50%, -50%);
}
#MAINBNP #section2bnp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: rgb(123, 123, 158);
  background: linear-gradient(90deg, rgb(123, 123, 158) 3%, rgb(70, 83, 171) 52%, rgb(0, 14, 135) 96%);
  position: relative;
  width: 100%;
  height: 100%;
}
#MAINBNP #section2bnp a {
  color: #000;
}
#MAINBNP #section2bnp h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#MAINBNP #section2bnp h2:hover {
  color: rgb(11, 29, 133);
}
#MAINBNP #section2bnp .MarianoArt {
  margin-left: 200px;
  border: 2px solid black;
}
#MAINBNP #section2bnp .MarianoArt .ticketmariano {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINBNP #section2bnp .cuarteroart {
  border: 2px solid black;
}
#MAINBNP #section2bnp .cuarteroart .ticketcuartero {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINBNP #section2bnp .proxeventosbnp .proxbnp {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  left: 200px;
  top: 20%;
}
#MAINBNP #section2bnp .proxeventosbnp .eventbnp {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  right: 200px;
  top: 25%;
}
#MAINBNP #section2bnp img {
  height: 650px;
  width: 400px;
}
#MAINBNP #section3bnp {
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINBNP #section3bnp .imageforjarena img {
  position: absolute;
  background-image: none;
  width: 100%;
  height: 100%;
}
#MAINBNP #section3bnp .icoforjaarena img {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1800px) {
  .enteratein {
    display: none;
  }
}
@media (max-width: 1500px) {
  #MAINBNP #section1bnp .h2bnp h2 {
    left: 920px;
  }
  #MAINBNP #section2bnp .MarianoArt {
    margin-left: 150px;
    border: 2px solid black;
  }
  #MAINBNP #section2bnp .proxeventosbnp .proxbnp {
    display: none;
  }
  #MAINBNP #section2bnp .proxeventosbnp .eventbnp {
    display: none;
  }
}
@media (max-width: 1500px) {
  #MAINBNP #section1bnp .h2bnp h2 {
    left: 680px;
    top: 380px;
    font-size: 20PX;
  }
  #MAINBNP #section2bnp .MarianoArt {
    margin-left: 120px;
    border: 2px solid black;
  }
  #MAINBNP #section2bnp .proxeventosbnp .proxbnp {
    display: none;
  }
  #MAINBNP #section2bnp .proxeventosbnp .eventbnp {
    display: none;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 300px;
    left: 100px;
  }
  #MAINBNP #section2bnp img {
    height: 550px;
    width: 290px;
  }
}
@media (max-width: 950px) {
  #MAINBNP #section1bnp .h2bnp h2 {
    left: 550px;
    top: 280px;
    font-size: 17PX;
  }
  #MAINBNP #section2bnp .MarianoArt {
    margin-left: 90px;
    border: 2px solid black;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 200px;
    left: 80px;
  }
  #MAINBNP #section2bnp img {
    height: 450px;
    width: 240px;
  }
  #MAINBNP #section2bnp h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 200PX;
    height: 170px;
  }
}
@media (max-width: 750px) {
  #MAINBNP #section1bnp .h2bnp h2 {
    left: 480px;
    top: 190px;
    font-size: 15PX;
  }
  #MAINBNP #section2bnp .MarianoArt {
    margin-left: 60px;
    border: 2px solid black;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 170px;
    left: 60px;
  }
  #MAINBNP #section2bnp img {
    height: 370px;
    width: 210px;
  }
  #MAINBNP #section2bnp h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 200PX;
    height: 170px;
  }
  #MAINBNP #section3bnp .icoforjaarena img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200PX;
    height: 170px;
  }
}
@media (max-width: 650px) {
  #MAINBNP #section1bnp .h2bnp h2 {
    left: 380px;
    top: 170px;
    font-size: 9PX;
  }
  #MAINBNP #section2bnp .MarianoArt {
    margin-left: 60px;
    border: 2px solid black;
  }
  #MAINBNP #section1bnp .icobnp img {
    position: absolute;
    top: 130px;
    left: 60px;
    width: 130PX;
    height: 100px;
  }
  #MAINBNP #section2bnp img {
    height: 320px;
    width: 160px;
  }
  #MAINBNP #section2bnp h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
  }
  #MAINBNP #section3bnp .icoforjaarena img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 180PX;
    height: 150px;
  }
}
/*CLUBES*/
/* CLUBES */
#MAINCLUBES #sectionclubes1 {
  position: relative;
  background-color: black;
  width: 100%;
  height: 800px;
}
#MAINCLUBES #sectionclubes1 .terrafuriaimggra img {
  position: absolute;
  width: 1857px;
  height: 800px;
}
#MAINCLUBES #sectionclubes1 .icoterrapag img {
  position: absolute;
  top: 300px;
  left: 200px;
}
#MAINCLUBES #sectionclubes1 .h2clubes h2 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  padding: 10px;
  top: 400px;
  left: 1020px;
  transform: translate(-50%, -50%);
}
#MAINCLUBES #sectionclubes2 {
  position: relative;
  background: rgb(142, 140, 140);
  background: linear-gradient(90deg, rgb(142, 140, 140) 3%, rgb(23, 38, 37) 52%, rgb(0, 3, 4) 96%);
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 1857px;
  height: 800px;
}
#MAINCLUBES #sectionclubes2 a {
  color: #000;
}
#MAINCLUBES #sectionclubes2 .TICKETSBASEMENT {
  margin-right: 200px;
  border: 2px solid black;
}
#MAINCLUBES #sectionclubes2 .TICKETSBASEMENT .basementh2 {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINCLUBES #sectionclubes2 .TICKETERRAFURIA {
  border: 2px solid black;
}
#MAINCLUBES #sectionclubes2 .TICKETERRAFURIA .terrah2 {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINCLUBES #sectionclubes2 img {
  height: 650px;
  width: 400px;
}
#MAINCLUBES #sectionclubes2 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#MAINCLUBES #sectionclubes2 h2:hover {
  color: rgb(66, 66, 66);
}
#MAINCLUBES #sectionclubes2 .proxeventosclubes .proxclub {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  left: 200px;
  top: 20%;
}
#MAINCLUBES #sectionclubes2 .proxeventosclubes .eventclub {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  right: 200px;
  top: 25%;
}
#MAINCLUBES #sectionclubes3 {
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINCLUBES #sectionclubes3 .imagebasement img {
  position: absolute;
  width: 1857px;
  height: 800px;
}
#MAINCLUBES #sectionclubes3 .icobasement img {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1480px) {
  #MAINCLUBES #sectionclubes2 .proxeventosclubes .proxclub {
    display: none;
  }
  #MAINCLUBES #sectionclubes2 .proxeventosclubes .eventclub {
    display: none;
  }
}
@media (max-width: 1100px) {
  #MAINCLUBES #sectionclubes1 .icoterrapag img {
    position: absolute;
    top: 300px;
    left: 170px;
    width: 180PX;
    height: 210px;
  }
  #MAINCLUBES #sectionclubes1 .h2clubes h2 {
    top: 400px;
    left: 720px;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  #MAINCLUBES #sectionclubes2 img {
    height: 550px;
    width: 300px;
  }
}
@media (max-width: 820px) {
  #MAINCLUBES #sectionclubes1 .icoterrapag img {
    position: absolute;
    top: 300px;
    left: 130px;
    width: 150PX;
    height: 180px;
  }
  #MAINCLUBES #sectionclubes1 .h2clubes h2 {
    top: 380px;
    left: 520px;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  #MAINCLUBES #sectionclubes2 img {
    height: 450px;
    width: 200px;
  }
  #MAINCLUBES #sectionclubes2 h2 {
    font-size: 15PX;
  }
  #MAINCLUBES #sectionclubes2 .TICKETSBASEMENT {
    margin-right: 100px;
  }
}
@media (max-width: 580px) {
  #MAINCLUBES #sectionclubes1 .icoterrapag img {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 150PX;
    height: 180px;
  }
  #MAINCLUBES #sectionclubes1 .h2clubes h2 {
    top: 380px;
    left: 400px;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  #MAINCLUBES #sectionclubes2 img {
    height: 300px;
    width: 150px;
  }
  #MAINCLUBES #sectionclubes2 h2 {
    font-size: 9PX;
  }
  #MAINCLUBES #sectionclubes2 .TICKETSBASEMENT {
    margin-right: 100px;
  }
}
/*LA ESTACION*/
/* LA ESTACION */
#MAINLAESTACION #section1lae {
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINLAESTACION #section1lae .LAESTACIONIMG1 img {
  position: absolute;
  background-image: none;
  width: 100%;
  height: 800px;
}
#MAINLAESTACION #section1lae .LAESTACIONICO1 {
  position: absolute;
  top: 200px;
  left: 550px;
}
#MAINLAESTACION #section1lae .h2estacion {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(13, 198, 231);
  padding: 10px;
  top: 450px;
  left: 920px;
  transform: translate(-50%, -50%);
}
#MAINLAESTACION #section2lae {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: rgb(245, 245, 245);
  background: linear-gradient(90deg, rgb(110, 193, 204) 3%, rgb(56, 160, 149) 52%, rgb(1, 105, 114) 96%);
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINLAESTACION #section2lae a {
  color: #000;
}
#MAINLAESTACION #section2lae .ticketsdeborah {
  margin-right: 200px;
  border: 2px solid black;
}
#MAINLAESTACION #section2lae .ticketsdeborah .h2deborah {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINLAESTACION #section2lae h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#MAINLAESTACION #section2lae h2:hover {
  color: aqua;
}
#MAINLAESTACION #section2lae img {
  height: 650px;
  width: 400px;
}
#MAINLAESTACION #section2lae .ticketsjamiejones {
  border: 2px solid black;
}
#MAINLAESTACION #section2lae .ticketsjamiejones .h2jamie {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINLAESTACION #section2lae .proxeventoslae .proxlae {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-weight: bolder;
  font-weight: 900;
  font-size: 40px;
  color: azure;
  left: 200px;
  top: 20%;
}
#MAINLAESTACION #section2lae .proxeventoslae .eventlae {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  right: 200px;
  top: 25%;
}
#MAINLAESTACION #section3lae {
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINLAESTACION #section3lae .laestacionsec3grande img {
  position: absolute;
  background-image: none;
  width: 100%;
  height: 800px;
}
#MAINLAESTACION #section3lae .laestacionmesas img {
  position: absolute;
  top: 250px;
  left: 610px;
}
#MAINLAESTACION #section3lae h1 {
  position: absolute;
  top: 100px;
  left: 770px;
  color: rgb(253, 253, 253);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xxx-large;
}
#MAINLAESTACION #section3lae h4 {
  position: absolute;
  top: 200px;
  left: 750px;
  color: aquamarine;
}

@media (max-width: 1550px) {
  .enteratein {
    display: none;
  }
  #MAINLAESTACION #section2lae .proxeventoslae {
    display: none;
  }
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 720px;
  }
  #MAINLAESTACION #section1lae .LAESTACIONICO1 {
    position: absolute;
    top: 200px;
    left: 350px;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    top: 250px;
    left: 360px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 100px;
    left: 530px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 200px;
    left: 510px;
    color: aquamarine;
  }
}
@media (max-width: 1300px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 720px;
  }
  #MAINLAESTACION #section1lae .LAESTACIONICO1 {
    position: absolute;
    top: 200px;
    left: 350px;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    top: 250px;
    left: 360px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 100px;
    left: 530px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 200px;
    left: 510px;
    color: aquamarine;
  }
}
@media (max-width: 1180px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 570px;
  }
  #MAINLAESTACION #section1lae .LAESTACIONICO1 {
    position: absolute;
    top: 200px;
    left: 200px;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    top: 250px;
    left: 210px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 100px;
    left: 380px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 200px;
    left: 360px;
    color: aquamarine;
  }
  #MAINLAESTACION #section2lae img {
    height: 550px;
    width: 300px;
  }
  #MAINLAESTACION #section2lae .ticketsdeborah {
    margin-right: 150px;
    border: 2px solid black;
  }
}
@media (max-width: 950px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 450px;
  }
  #MAINLAESTACION #section1lae .LAESTACIONICO1 {
    display: none;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 250px;
    left: 120px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 100px;
    left: 290px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 200px;
    left: 290px;
    color: aquamarine;
  }
  #MAINLAESTACION #section2lae img {
    height: 500px;
    width: 250px;
  }
  #MAINLAESTACION #section2lae .ticketsjamiejones .h2jamie h2 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #MAINLAESTACION #section2lae .ticketsdeborah .h2deborah h2 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 350px;
  }
  #MAINLAESTACION #section1lae .LAESTACIONICO1 {
    display: none;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 250px;
    left: 120px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 100px;
    left: 220px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 200px;
    left: 220px;
    color: aquamarine;
  }
  #MAINLAESTACION #section2lae img {
    height: 400px;
    width: 200px;
  }
  #MAINLAESTACION #section2lae .ticketsdeborah {
    margin-right: 90px;
    border: 2px solid black;
  }
}
@media (max-width: 620px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 300px;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    width: 440px;
    height: 220px;
    top: 250px;
    left: 80px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 60px;
    left: 150px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 130px;
    left: 150px;
    color: aquamarine;
  }
}
@media (max-width: 520px) {
  #MAINLAESTACION #section1lae .h2estacion {
    padding: 10px;
    top: 450px;
    left: 260px;
  }
  #MAINLAESTACION #section2lae img {
    height: 350px;
    width: 170px;
  }
  #MAINLAESTACION #section3lae .laestacionmesas img {
    position: absolute;
    width: 360px;
    height: 180px;
    top: 250px;
    left: 80px;
  }
  #MAINLAESTACION #section3lae h1 {
    position: absolute;
    top: 60px;
    left: 110px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
  }
  #MAINLAESTACION #section3lae h4 {
    position: absolute;
    top: 130px;
    left: 90px;
    color: aquamarine;
  }
  #MAINLAESTACION #section2lae .ticketsdeborah {
    margin-right: 50px;
    border: 2px solid black;
  }
  #MAINLAESTACION #section2lae .ticketsjamiejones .h2jamie h2 {
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #MAINLAESTACION #section2lae .ticketsdeborah .h2deborah h2 {
    width: 100%;
    height: 100%;
    font-size: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* MEED */
/* meed producciones */
#MAINMEED #section1meed {
  position: relative;
  background-color: black;
  width: 100%;
  height: 800px;
}
#MAINMEED #section1meed .imagenlafabricagrande1 img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#MAINMEED #section1meed .iconolafabrica img {
  position: absolute;
  top: 150px;
  left: 700px;
  width: 300px;
}
#MAINMEED #section1meed h2 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(204, 53, 53);
  padding: 10px;
  top: 450px;
  left: 900px;
  transform: translate(-50%, -50%);
}
#MAINMEED #section2meed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: rgb(241, 155, 155);
  background: linear-gradient(90deg, rgb(241, 155, 155) 3%, rgb(218, 70, 70) 49%, rgb(223, 12, 12) 95%);
  position: relative;
  width: 100%;
  height: 100%;
}
#MAINMEED #section2meed a {
  color: #000;
}
#MAINMEED #section2meed img {
  height: 650px;
  width: 400px;
}
#MAINMEED #section2meed .proxeventosmeed .proxmeed {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  left: 200px;
  top: 20%;
}
#MAINMEED #section2meed .proxeventosmeed .eventmeed {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: fantasy;
  font-size: 40px;
  color: azure;
  right: 200px;
  top: 25%;
}
#MAINMEED #section2meed .StephanArt {
  margin-left: 200px;
  border: 2px solid black;
}
#MAINMEED #section2meed .StephanArt .h2stephan {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINMEED #section2meed .hotArt {
  border: 2px solid black;
}
#MAINMEED #section2meed .hotArt .h2hotsince {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#MAINMEED #section2meed h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#MAINMEED #section2meed h2:hover {
  color: rgb(197, 12, 43);
}
#MAINMEED #section3meed {
  position: relative;
  width: 100%;
  height: 800px;
}
#MAINMEED #section3meed .lafabricagrande2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#MAINMEED #section3meed .mesaslafabrica img {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1800px) {
  .enteratein {
    display: none;
  }
  .iconolafabrica img {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 300px;
  }
  #MAINMEED #section1meed h2 {
    left: 700px;
  }
}
@media (max-width: 1180px) {
  #MAINMEED #section3meed .mesaslafabrica img {
    position: absolute;
    width: 600px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #MAINMEED #section2meed .StephanArt {
    margin-left: 100px;
  }
  #MAINMEED #section2meed img {
    height: 350px;
    width: 200px;
  }
  #MAINMEED #section2meed .proxmeed {
    display: none;
  }
  #MAINMEED #section2meed .eventmeed {
    display: none;
  }
  #MAINMEED #section1meed .iconolafabrica img {
    position: absolute;
    top: 150px;
    left: 200px;
  }
  #MAINMEED #section1meed h2 {
    left: 500px;
  }
}
@media (max-width: 1400px) {
  #MAINMEED #section1meed .iconolafabrica img {
    display: none;
  }
}
@media (max-width: 1600px) {
  #MAINMEED #section2meed .StephanArt {
    margin-left: 100px;
  }
  #MAINMEED #section2meed img {
    height: 450px;
    width: 300px;
  }
  #MAINMEED #section1meed .iconolafabrica img {
    position: absolute;
    top: 150px;
    left: 600px;
  }
}
@media (max-width: 860px) {
  #MAINMEED #section2meed img {
    height: 450px;
    width: 250px;
  }
  #MAINMEED #section2meed h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
  }
  #MAINMEED #section2meed .StephanArt {
    margin-left: 100px;
    border: 1px solid black;
  }
  #MAINMEED #section2meed .hotArt {
    border: 1px solid black;
  }
  #MAINMEED #section3meed .mesaslafabrica img {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #MAINMEED #section1meed h2 {
    left: 400px;
  }
  #MAINMEED #section2meed .StephanArt h2 {
    font-size: 20px;
  }
  #MAINMEED #section2meed .hotArt h2 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  #MAINMEED #section2meed img {
    height: 300px;
    width: 150px;
  }
  #MAINMEED #section2meed h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  #MAINMEED #section2meed .StephanArt {
    margin-left: 70px;
    border: 1px solid black;
  }
  #MAINMEED #section2meed .hotArt {
    border: 1px solid black;
  }
  #MAINMEED #section1meed h2 {
    left: 300px;
  }
  #MAINMEED #section2meed .StephanArt h2 {
    font-size: 15px;
  }
  #MAINMEED #section2meed .hotArt h2 {
    font-size: 15px;
  }
  #MAINMEED #section3meed .mesaslafabrica img {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 500px) {
  #MAINMEED #section2meed img {
    height: 200px;
    width: 100px;
  }
  #MAINMEED #section2meed h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  #MAINMEED #section2meed .StephanArt {
    margin-left: 50px;
    border: 0.5px solid black;
  }
  #MAINMEED #section2meed .hotArt {
    border: 0.5px solid black;
  }
  #MAINMEED #section1meed h2 {
    left: 200px;
  }
  #MAINMEED #section2meed .StephanArt h2 {
    font-size: 10px;
  }
  #MAINMEED #section2meed .hotArt h2 {
    font-size: 10px;
  }
}
/*sorteo */
#SORTEO {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 100px;
  background: linear-gradient(90deg, rgb(184, 109, 84) 3%, rgb(204, 84, 5) 52%, rgb(226, 35, 10) 96%);
}


.section1sorteo{
  width: 100%;
  height: 100%;
}

.h2sorteo {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1sorteo {
  flex-direction: row;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px; 
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;      
}

.section2sorteo {
  width: 400px;
  background-color: #ff0303;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(3, 3, 3);
  box-shadow: 7px 13px 37px #000;
}
.section2sorteo p{
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  }

  .section2sorteo .botons {
    width: 100%;
    background: #e74606;
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
  }

.section2sorteo h4{
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
}

.controls {
  width: 100%;
  background: #f8f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 2px solid #c5a71f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font : 40px;
  color: rgb(3, 3, 3);
}

.controls2 {
  width: 100%;
  background: #f8f7f7;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 2px solid #c5a71f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font : 40px;
  color: rgb(8, 8, 8);
}


/*# sourceMappingURL=style.css.map */
